.removeModal {
  font-family: var(--font-noto-sans);
  font-size: 16px;
  height: 200px;
  max-width: 380px;
  min-width: 288px;
  padding: 20px;
  background-color: var(--color-card-bg);
  display: grid;
  grid-template-rows: 1fr auto;
}

.title {
  font-size: 20px;
  letter-spacing: -0.3px;
  color: var(--color-card-name);
  margin-bottom: 6px;
}

.description {
  font-size: 16px;
  letter-spacing: -0.5px;
  color: var(--color-card-description);
}

.actions {
  display: grid;
  grid-template-columns: min-content min-content;
  column-gap: 12px;
  justify-content: end;
}

.button {
  appearance: none;
  height: 38px;
  border: 1px solid var(--color-push-button-border);
  border-radius: 20px;
  padding: 0 15px;
  font-family: var(--font-noto-sans);
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.4px;
  background-color: var(--color-push-button-bg);
  color: var(--color-push-button-text);
}

.button:focus-visible {
  background-color: var(--color-push-button-bg-focus);
  border: none;
  border: 1px solid transparent;
  outline: 2px solid var(--color-button-outline-focus);
  outline-offset: 2px;
}

.button:active {
  border: none;
  border: 1px solid var(--color-push-button-bg-active);
  background-color: var(--color-push-button-bg-active);
  color: var(--color-push-button-text-active);
  cursor: pointer;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .button:hover {
    border: none;
    border: 1px solid var(--color-push-button-bg-active);
    background-color: var(--color-push-button-bg-active);
    color: var(--color-push-button-text-active);
    cursor: pointer;
  }
}
