.removeModal {
  font-family: var(--font-noto-sans);
  font-size: 1rem;
  height: 12.5rem;
  max-width: 23.75rem;
  min-width: 18rem;
  padding: 1.25rem;
  background-color: var(--color-card-bg);
  display: grid;
  grid-template-rows: 1fr auto;
}

.title {
  font-size: 1.25rem;
  letter-spacing: -0.3px;
  color: var(--color-card-name);
  margin-bottom: 0.375rem;
}

.description {
  font-size: 1rem;
  letter-spacing: -0.5px;
  color: var(--color-card-description);
}

.actions {
  display: grid;
  grid-template-columns: min-content min-content;
  column-gap: 0.75rem;
  justify-content: end;
}
