.header {
  padding: 8px 12px;
  border-radius: 10px;
  background-color: var(--neutral-0);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0 4px 0 var(--neutral-300);
}

.themeButton {
  appearance: none;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 12px;
}

.themeButton:focus-visible {
  border: 2px solid var(--neutral-0);
  outline: 2px solid var(--red-400);
}

.themeButton:active {
  background-color: var(--neutral-300);
  cursor: pointer;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .themeButton:hover {
    background-color: var(--neutral-300);
    cursor: pointer;
  }
}

/*2 * itemMinWidth + 1 * columnGap + 2 * pagePadding*/
@media (min-width: calc(2 * 288px + 1 * 12px + 2 * 16px)) {
  .header {
    padding: 12px 16px;
    border-radius: 20px;
  }
}
