.header {
  padding: 0.5rem 0.75rem;
  border: 1px solid var(--color-header-border);
  border-radius: 0.625rem;
  background-color: var(--color-header-bg);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 2px 2px 0 var(--color-shadow);
}

/*2 * itemMinWidth + 1 * columnGap + 2 * pagePadding*/
@media (min-width: calc(2 * 18rem + 1 * 0.75rem + 2 * 1rem)) {
  .header {
    padding: 0.75rem 1rem;
    border-radius: 1.25rem;
  }
}
