:root {
  /*Neutral colors*/
  --neutral-900: hsl(227, 75%, 14%);
  --neutral-800: hsl(226, 25%, 17%);
  --neutral-700: hsl(225, 23%, 24%);
  --neutral-600: hsl(226, 11%, 37%);
  --neutral-300: hsl(0, 0%, 78%);
  --neutral-200: hsl(217, 61%, 90%);
  --neutral-100: hsl(0, 0%, 93%);
  --neutral-0: hsl(200, 60%, 99%);
  /*Red colors*/
  --red-400: hsl(3, 86%, 64%);
  --red-500: hsl(3, 71%, 56%);
  --red-700: hsl(3, 77%, 44%);
  /*Gradients*/
  --light-gradient: linear-gradient(180deg, #ebf2fc 0%, #eef8f9 100%);
  --dark-gradient: linear-gradient(180deg, #040918 0%, #091540 100%);
  /*Semantic variables*/
  --color-background: var(--light-gradient);

  --color-header-bg: var(--neutral-0);
  --color-header-border: var(--neutral-200);
  --color-theme-button-bg: var(--neutral-100);
  --color-theme-button-bg-active: var(--neutral-300);

  --color-control-title: var(--neutral-900);

  --color-selector-button-bg-off: var(--neutral-0);
  --color-selector-button-text-off: var(--neutral-900);
  --color-selector-button-bg-off-active: var(--neutral-100);
  --color-selector-button-text-off-active: var(--neutral-600);

  --color-selector-button-bg-on: var(--red-700);
  --color-selector-button-text-on: var(--neutral-0);
  --color-selector-button-bg-on-active: var(--red-500);
  --color-selector-button-text-on-active: var(--neutral-0);

  --color-card-bg: var(--neutral-0);
  --color-card-border: var(--neutral-200);
  --color-card-name: var(--neutral-900);
  --color-card-description: var(--neutral-600);

  --color-push-button-bg: var(--neutral-0);
  --color-push-button-border: var(--neutral-300);
  --color-push-button-text: var(--neutral-900);
  --color-push-button-bg-active: var(--red-700);
  --color-push-button-text-active: var(--neutral-0);
  --color-push-button-bg-focus: var(--neutral-100);

  --color-toggle-button-bg-off: var(--neutral-300);
  --color-toggle-button-bg-off-active: var(--neutral-600);
  --color-toggle-button-bg-on: var(--red-700);
  --color-toggle-button-bg-on-active: var(--red-400);
  --color-toggle-button-thumb: var(--neutral-0);

  --color-button-border-focus: var(--neutral-0);
  --color-button-outline-focus: var(--red-400);

  --color-shadow: var(--neutral-200);
}

[data-theme="dark"] {
  --color-background: var(--dark-gradient);

  --color-header-bg: var(--neutral-800);
  --color-header-border: var(--neutral-800);
  --color-theme-button-bg: var(--neutral-700);
  --color-theme-button-bg-active: var(--neutral-600);

  --color-control-title: var(--neutral-0);

  --color-selector-button-bg-off: var(--neutral-700);
  --color-selector-button-text-off: var(--neutral-0);
  --color-selector-button-bg-off-active: var(--neutral-600);
  --color-selector-button-text-off-active: var(--neutral-0);
  --color-selector-button-bg-off-focus: var(--neutral-600);

  --color-selector-button-bg-on: var(--red-400);
  --color-selector-button-text-on: var(--neutral-900);
  --color-selector-button-bg-on-active: var(--red-500);
  --color-selector-button-text-on-active: var(--neutral-900);
  --color-selector-button-bg-on-focus: var(--red-400);

  --color-card-bg: var(--neutral-700);
  --color-card-border: var(--neutral-600);
  --color-card-name: var(--neutral-0);
  --color-card-description: var(--neutral-300);

  --color-push-button-bg: var(--neutral-700);
  --color-push-button-border: var(--neutral-600);
  --color-push-button-text: var(--neutral-0);
  --color-push-button-bg-active: var(--red-400);
  --color-push-button-text-active: var(--neutral-900);
  --color-push-button-bg-focus: var(--neutral-600);

  --color-toggle-button-bg-off: var(--neutral-600);
  --color-toggle-button-bg-off-active: var(--neutral-600);
  --color-toggle-button-bg-on: var(--red-400);
  --color-toggle-button-bg-on-active: var(--red-500);
  --color-toggle-button-thumb: var(--neutral-0);

  --color-button-outline-focus: var(--red-400);

  --color-shadow: var(--neutral-800);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: var(--color-background);
  margin: 0 auto;
  /*itemMinWidth + 2 *sidePadding*/
  min-width: calc(288px + 2 * 16px);
  /*itemMaxWidth + 2 *sidePadding*/
  max-width: calc(380px + 2 * 16px);
  padding: 20px 16px 64px 16px;
}

/*2 * itemMinWidth + 1 * columnGap + 2 * pagePadding*/
@media (min-width: calc(2 * 288px + 1 * 12px + 2 * 16px)) {
  body {
    padding-top: 40px;
    /*2 * itemMaxWidth + 1 * columnGap + 2 *sidePadding*/
    max-width: calc(2 * 380px + 1 * 12px + 2 * 16px);
  }
}

/*3 * itemMinWidth + 2 * columnGap + 2 * pagePadding*/
@media (min-width: calc(3 * 288px + 2 * 12px + 2 * 16px)) {
  body {
    /*3 * itemMaxWidth + 2 * columnGap + 2 *sidePadding*/
    max-width: calc(3 * 380px + 2 * 12px + 2 * 16px);
  }
}
