.itemCard {
  font-family: var(--font-noto-sans);
  font-size: 16px;
  height: 200px;
  max-width: 380px;
  min-width: 288px;
  border: 1px solid var(--color-card-border);
  border-radius: 18px;
  padding: 20px;
  background-color: var(--color-card-bg);
  box-shadow: 0px 2px 2px 0 var(--color-shadow);
  display: grid;
  grid-template-rows: 1fr auto;
}

.infoBox {
  display: grid;
  grid-template-columns: 60px 1fr;
  column-gap: 16px;
}

.name {
  font-size: 20px;
  letter-spacing: -0.3px;
  color: var(--color-card-name);
  margin-bottom: 6px;
}

.description {
  font-size: 16px;
  letter-spacing: -0.5px;
  color: var(--color-card-description);
}

.controlBox {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
