.itemCard {
  font-family: var(--font-noto-sans);
  font-size: 16px;
  height: 200px;
  max-width: 380px;
  min-width: 288px;
  border-radius: 18px;
  padding: 20px;
  background-color: var(--neutral-0);
  box-shadow: 0 0 4px 0 var(--neutral-300);
  display: grid;
  grid-template-rows: 1fr auto;
}

.infoBox {
  display: grid;
  grid-template-columns: 60px 1fr;
  column-gap: 16px;
}

.name {
  font-size: 20px;
  letter-spacing: -0.3px;
  color: var(--neutral-900);
  margin-bottom: 6px;
}

.description {
  font-size: 16px;
  letter-spacing: -0.5px;
  color: var(--neutral-600);
}

.controlBox {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.remove {
  appearance: none;
  height: 38px;
  border: 1px solid var(--neutral-300);
  border-radius: 20px;
  padding: 0 15px;
  font-family: var(--font-noto-sans);
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.4px;
  background-color: var(--neutral-0);
}

.remove:focus-visible {
  background-color: var(--neutral-100);
  border: 2px solid var(--neutral-0);
  outline: 2px solid var(--red-400);
}

.remove:hover {
  border: none;
  background-color: var(--red-700);
  color: var(--neutral-0);
  cursor: pointer;
}
