.controlBar {
  font-family: var(--font-noto-sans);
  font-size: 16px;
  margin: 36px 0 40px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 20px;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.title {
  font-size: 32px;
  font-weight: 700;
}

.filter {
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 16px;
}

.button {
  appearance: none;
  font-family: var(--font-noto-sans);
  font-size: 20px;
  letter-spacing: -0.2px;
  background-color: var(--neutral-0);
  height: 45px;
  border: none;
  border-radius: 22px;
  padding: 0 18px;
  box-shadow: 0 0 4px 0 var(--neutral-300);
}

.button:focus-visible {
  border: 2px solid var(--neutral-0);
  outline: 2px solid var(--red-400);
}

.button:hover {
  background-color: var(--neutral-100);
  color: var(--neutral-600);
  cursor: pointer;
}

.buttonActive {
  background-color: var(--red-700);
  color: var(--neutral-0);
}

.buttonActive:hover {
  background-color: var(--red-500);
  color: var(--neutral-0);
  cursor: pointer;
}

@media (min-width: 1000px) {
  .controlBar {
    margin: 64px 0 34px 0;
    justify-content: space-between;
  }
}
