.themeButton {
  appearance: none;
  width: 3.125rem;
  height: 3.125rem;
  border: none;
  border-radius: 0.75rem;
  background-color: var(--color-theme-button-bg);
}

.themeIcon {
  height: 1.375rem;
  width: 1.375rem;
}

.themeButton:focus-visible {
  outline: 2px solid var(--color-button-outline-focus);
  outline-offset: 2px;
}

.themeButton:active {
  background-color: var(--color-theme-button-bg-active);
  cursor: pointer;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .themeButton:hover {
    background-color: var(--color-theme-button-bg-active);
    cursor: pointer;
  }
}
