.button {
  appearance: none;
  width: 40px;
  height: 24px;
  border: none;
  border: 2px solid var(--neutral-0);
  border-radius: 12px;
  position: relative;
  background-color: var(--neutral-300);
}

.button:focus-visible {
  border: 2px solid var(--neutral-0);
  outline: 2px solid var(--red-400);
}

.buttonOn {
  background-color: var(--red-700);
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .button:hover {
    background-color: var(--neutral-600);
    cursor: pointer;
  }

  .buttonOn:hover {
    background-color: var(--red-400);
    cursor: pointer;
  }
}

.thumb {
  width: 16px;
  height: 16px;
  border-radius: 8px;
  position: absolute;
  left: 2px;
  top: 2px;
  background-color: var(--neutral-0);
}

.buttonOn .thumb {
  left: unset;
  right: 2px;
}
