.button {
  appearance: none;
  height: 38px;
  border: none;
  border-radius: 20px;
  padding: 0 15px;
  font-family: var(--font-noto-sans);
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.4px;
  background-color: transparent;
  color: var(--color-push-button-text);
}

.button:focus-visible {
  background-color: var(--color-push-button-bg-focus);
  border: none;
  outline: 2px solid var(--color-button-outline-focus);
  outline-offset: 2px;
}

.button:active {
  border: none;
  text-decoration: underline;
  color: var(--color-push-button-text-active);
  cursor: pointer;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .button:hover {
    border: none;
    text-decoration: underline;
    color: var(--color-push-button-text);
    cursor: pointer;
  }
}
